@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400;1,700&display=swap");
body {
	font-family: "Lato", sans-serif;
	max-width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header {
	background-image: url(../img/tips-banner-desktop.jpg);
	background-color: #0a0c21;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 250px;
	filter: drop-shadow(0px 4px 4px #f378ff);
	z-index: 1;
}

.caja {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

h1 img {
	position: absolute;
	left: 0;
	filter: drop-shadow(0px 4px 4px #f378ff);
}

nav ul {
	list-style: none;
	width: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 1rem;
}
nav ul li {
	margin: 0.25rem;
	display: flex;
	align-items: center;
}
nav a {
	background-color: #0a0c21;
	width: 100%;
	color: #eeeeee;
	font-weight: 600;
	font-size: 1.5rem;
	text-decoration: none;
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 10px;
	padding: 5px;
}
nav i {
	margin-right: 5px;
}

nav a:hover {
	color: #f378ff;
}
nav a:active {
	transform: scale(0.98);
}
.titulo-centralizado {
	border-bottom: 3px dashed white;
	background-color: #eeeeee;
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	padding-block: 1rem;
	display: flex;
	justify-content: center;
	width: 100%;
}

footer {
	background: url(../img/bg.jpg);
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer > .copyright {
	display: flex;
	align-items: end;
	padding-bottom: 1rem;
	font-size: 1.25rem;
}

.copyright {
	color: #ffffff;
}
.diferenciales {
	background-color: #0a0c21;
	filter: drop-shadow(0px 4px 4px #f378ff);
	width: 100%;
	color: white;
	display: flex;
	font-size: 1.25em;
}
.ul-diferenciales {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 1%;
}

.items a {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #eeeeee;
}
.items a:hover {
	color: #f378ff;
}
.items a:active {
	transform: scale(0.98);
}
.items i {
	padding-right: 3px;
}

/* redes buttons */

/* switched */
#checkbox {
	position: absolute;
	top: -1rem;
}

.toggle {
	position: absolute;
	right: 3%;
	top: 15%;
	width: 45px;
	height: 45px;
	cursor: crosshair;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	transition-duration: 0.5s;
	background-color: #0a0c21;
	border-radius: 50%;
	padding: 5px;
	border: 3px dashed #f378ff;
}

.bars {
	width: 100%;
	height: 4px;
	background-color: #f378ff;
	border-radius: 4px;
}

#bar2 {
	transition-duration: 0.8s;
}

#bar1,
#bar3 {
	width: 70%;
}

#checkbox:checked + .toggle .bars {
	position: absolute;
	transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
	transform: scaleX(0);
	transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar1 {
	width: 100%;
	transform: rotate(45deg);
	transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
	width: 100%;
	transform: rotate(-45deg);
	transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
	transition-duration: 0.5s;
	transform: rotate(180deg);
}

/* redes */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5em;
  margin: 1rem;
}

.up {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.down {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.card1 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 90px 5px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.instagram {
  margin-top: 1.5em;
  margin-left: 1.2em;
  fill: #cc39a4;
}

.card2 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 90px 5px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.twitter {
  margin-top: 1.5em;
  margin-left: -.9em;
  fill: #03A9F4;
}

.card3 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 5px 90px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.github {
  margin-top: -.6em;
  margin-left: 1.2em;
}

.card4 {
  width: 70px;
  height: 70px;
  outline: none;
  border: none;
  background: white;
  border-radius: 5px 5px 90px 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: .2s ease-in-out;
}

.discord {
  margin-top: -.9em;
  margin-left: -1.2em;
  fill: #8c9eff;
}

.card1:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #cc39a4;
}

.card1:hover .instagram {
  fill: white;
}

.card2:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #03A9F4;
}

.card2:hover .twitter {
  fill: white;
}

.card3:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: black;
}

.card3:hover .github {
  fill: white;
}

.card4:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: white;
}

/* media querys */

@media screen and (max-width: 641px) {
	.productos li {
		width: 90%;
		margin: 5%;
	}
	.productos li h2 {
		font-size: 20px;
	}
	.producto-descripcion {
		font-size: 16px;
	}
	.producto-precio {
		font-size: 18px;
	}
	footer img {
		width: 10%;
	}
	footer p {
		font-size: 12px;
	}
}

@media screen and (max-width: 1200px) {
	h1 > img {
		display: none;
	}
	.toggle {
		display: flex;
		z-index: 2;
	}
	nav {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 0;
	}
	nav ul {
		padding-top: 3rem;
		background-color: #0a0c21;
		width: 100%;
		right: 0;
		top: -500px;
		transition: all 1s;
		z-index: 1;
	}
	nav ul li {
		width: 100%;
	}
	nav ul li a {
		padding: 2%;
		border: none;
		font-size: 2rem;
	}
	nav ul li a:hover {
		color: #f378ff;
		border: none;
	}
	.logo-footer > img {
		display: none;
	}
	footer{
		justify-content: center;
	}
}
