.productos {
	padding: 5% 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	background-image: url(../img/Cabello_10.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}

.productos li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	width: 400px;
	height: 400px;
	margin: 5% 3% ;
	padding: 30px 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.productos li:hover{
	background-color: transparent;
	transition: all 0.2s ease-in-out;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.productos li h3 {
	font-size: 3rem;
	font-weight: bold;
}

.producto-descripcion {
	font-size: 2rem;
	font-weight: bold;
}

.producto-precio {
	font-size: 3rem;
	font-weight: bold;
	margin-top: 10px;
}
