main{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.principal{
   max-width: 70%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-weight: 500;
}
.ubicacion{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   padding: 0 2rem;
   font-size: 1.25rem;
   font-weight: 500;
   margin: 2rem 0;
   min-height: 225px;
}
.ubicacion::before{
   border: 3px dashed black;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../img/diferenciales.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.2;
   z-index: -1;
}
.ratio{
   display: flex;
   border: 3px dashed white;
   background-color: #eeee;
   
   
}
#mision{
   margin-top: 3rem;
   padding: 2rem;
   border: 3px dashed white;
   background-color: #eeee;
   width: 100%;
   
}
#mision  p,
#mision h3 {
   display: flex;
   align-items: center;
   text-align: start;
   font-size: 1rem;   
   margin-bottom: 0;
}
#mision h3{
   padding: .75rem;
   font-size: 1.5rem;
   font-weight: bold;
}

.ofrecemos {
   position: relative; /* asegura que el elemento "before" esté posicionado correctamente */
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 0 2rem;
   min-height: 225px;
   margin: 2rem 0;
 }
 
 .ofrecemos::before {
   border: 3px dashed black;
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../img/banner.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   opacity: 0.2; /* Cambia el valor de opacidad al que desees */
   z-index: -1; /* coloca la capa detrás del contenido principal */
 }
 
 .ofrecemos > p {
   font-size: 1.25rem;
   padding: 1rem;
   color:black;
 }


